<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://icetears1.github.io/IPATest/Ios/CRM/191112003/ZTAdvertisementApp-CRM.ipa</string>
		<key>displayImageURL</key>
		<string>https://icetears1.github.io/IPATest/Ios/Icons/CRM57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://icetears1.github.io/IPATest/Ios/Icons/CRM512.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>5B8NC94BV5</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
